/* Layout
--------------------------- */
.scroll-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-vertical::-webkit-scrollbar {
    display: none;
}

/* Text
--------------------------- */
// 文字过长时显示省略符，@row-num：行数，@line-height：行高
.ellipsisNum (@row-num, @line-height: @--font-line-height-narrow) {
    line-height: @line-height;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: @row-num;
    -webkit-box-orient: vertical;
    -webkit-box-align: start;
    overflow: hidden;
}
/* Article: Header
--------------------------- */
// .content h1 {
//     font-size: 24px;
//     border-bottom: @--border-base;
//     padding-bottom: 8px;
//     margin-top: 35px;
//     margin-bottom: 20px;
//     font-weight: bold;
// }
// .content h2 {
//     font-size: 18px;
//     margin-top: 35px;
//     margin-bottom: 20px;
//     font-weight: bold;
// }

/* Article: Code
--------------------------- */
// .content pre, .content pre[class*=language-] {
//     line-height: 1.4;
//     padding: 1.25rem 1.5rem;
//     margin: .85rem 0;
//     background-color: #282c34;
//     border-radius: 6px;
//     overflow: auto;
// }
// code[class*=language-], pre[class*=language-] {
//     color: #ccc;
//     font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
//     text-align: left;
//     white-space: pre;
//     word-spacing: normal;
//     word-break: normal;
//     word-wrap: normal;
//     -moz-tab-size: 4;
//     -o-tab-size: 4;
//     tab-size: 4;
//     -webkit-hyphens: none;
//     -ms-hyphens: none;
//     hyphens: none;
// }
// .content pre[class*=language-] code, .content pre code {
//     color: #fff;
//     padding: 0;
//     background-color: transparent;
//     border-radius: 0;
// }
// .content code {
//     margin: 0;
//     font-size: .9em;
// }

// .hljs-keyword {
//     color: #cc99cd;
// }
// .hljs-string {
//     color: #7ec699;
// }
// .hljs-number {
//     color: #f08d49;
// }

/* Article: Table
--------------------------- */
table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    border-top: 1px solid #dfe2e5;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td, th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
td {
    display: table-cell;
    vertical-align: inherit;
}